[Unit]
Description=Config Location Real-Time GitHub Mirror
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/sbin/config-location-live-watch
Restart=always
RestartSec=2

Nice=10

[Install]
WantedBy=multi-user.target
